[submodule "lib/Portal2Boards.Net"]
	path = lib/Portal2Boards.Net
	url = https://github.com/NeKzor/Portal2Boards.Net
[submodule "lib/Discord.Addons.Interactive"]
	path = lib/Discord.Addons.Interactive
	url = https://github.com/NeKzor/Discord.Addons.Interactive
[submodule "lib/Discord.Addons"]
	path = lib/Discord.Addons
	url = https://github.com/NeKzor/Discord.Addons
[submodule "lib/Discord.Net"]
	path = lib/Discord.Net
	url = https://github.com/NeKzor/Discord.Net
    branch = latest
