################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NeKzBot/bin
/NeKzBot/obj
/NeKzBotSelfBot/obj
/NeKzBotSelfBot/Modules/Voice.cs
/NeKzBotSelfBot/Modules/Unused.cs
*.cache
/.vs/config/applicationhost.config
