################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NeKzBot/bin/Release/NeKzBot.vshost.exe
/NeKzBot/Modules/Games/DiscordPlaysGames.cs
/NeKzBot/bin/Release/NeKzBot.vshost.exe.config
/NeKzBot/bin/Release/NeKzBot.vshost.exe.manifest
/NeKzBot/bin/Release/NeKzBot.exe
/NeKzBot/bin/Release/NeKzBot.pdb
/NeKzBot/bin/Release/NeKzBot.exe.config
/NeKzBot/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/NeKzBot/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/NeKzBot/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/NeKzBot/obj/Release/NeKzBot.pdb
/NeKzBot/obj/Release/NeKzBot.exe
/NeKzBot/obj/Release/NeKzBot.csprojResolveAssemblyReference.cache
/NeKzBot/obj/Release/NeKzBot.csproj.FileListAbsolute.txt
/NeKzBot/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/NeKzBot/obj/Release/DesignTimeResolveAssemblyReferences.cache
/NeKzBotSelfBot/obj
/NeKzBotSelfBot/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/NeKzBotSelfBot/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/NeKzBotSelfBot/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/NeKzBotSelfBot/obj/Debug/NeKzBotSelfBot.pdb
/NeKzBotSelfBot/obj/Debug/NeKzBotSelfBot.exe
/NeKzBotSelfBot/obj/Debug/NeKzBotSelfBot.csprojResolveAssemblyReference.cache
/NeKzBotSelfBot/obj/Debug/NeKzBotSelfBot.csproj.FileListAbsolute.txt
/NeKzBotSelfBot/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/NeKzBotSelfBot/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/NeKzBotSelfBot/obj/Debug/CoreCompileInputs.cache
/NeKzBotSelfBot/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/NeKzBotSelfBot/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/NeKzBotSelfBot/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/NeKzBotSelfBot/obj/Release/NeKzBotSelfBot.pdb
/NeKzBotSelfBot/obj/Release/NeKzBotSelfBot.exe
/NeKzBotSelfBot/obj/Release/NeKzBotSelfBot.csprojResolveAssemblyReference.cache
/NeKzBotSelfBot/obj/Release/NeKzBotSelfBot.csproj.FileListAbsolute.txt
/NeKzBotSelfBot/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/NeKzBotSelfBot/obj/Release/CoreCompileInputs.cache
/NeKzBotSelfBot/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/NeKzBotSelfBot/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/NeKzBotSelfBot/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/NeKzBotSelfBot/obj/Debug/NeKzBotSelfBot.pdb
/NeKzBotSelfBot/obj/Debug/NeKzBotSelfBot.exe
/NeKzBotSelfBot/obj/Debug/NeKzBotSelfBot.csprojResolveAssemblyReference.cache
/NeKzBotSelfBot/obj/Debug/NeKzBotSelfBot.csproj.FileListAbsolute.txt
/NeKzBotSelfBot/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/NeKzBotSelfBot/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/NeKzBotSelfBot/obj/Debug/CoreCompileInputs.cache
/NeKzBot/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/NeKzBot/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/NeKzBot/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/NeKzBot/obj/Debug/NeKzBot.pdb
/NeKzBot/obj/Debug/NeKzBot.exe
/NeKzBot/obj/Debug/NeKzBot.csproj.FileListAbsolute.txt
/NeKzBot/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/NeKzBot/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/NeKzBot/obj/Debug/CoreCompileInputs.cache
/NeKzBot/obj/Release/CoreCompileInputs.cache
/NeKzBotSelfBot/Modules/Voice.cs
/NeKzBotSelfBot/Modules/Unused.cs
