[submodule "lib/Portal2Boards.Net"]
	path = lib/Portal2Boards.Net
	url = https://github.com/NeKzor/Portal2Boards.Net
[submodule "lib/Discord.Addons.Interactive"]
    path = lib/Discord.Addons.Interactive
    url = https://github.com/foxbot/Discord.Addons.Interactive