<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NeKzBot.Server.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="NeKzBot.Server.Credentials" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NeKzBot.Server.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <NeKzBot.Server.Credentials>
            <setting name="DiscordToken" serializeAs="String">
                <value>PLACE TOKEN HERE</value>
            </setting>
            <setting name="DiscordBotOwnerID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DropboxToken" serializeAs="String">
                <value>PLACE TOKEN HERE</value>
            </setting>
            <setting name="DropboxFolderID" serializeAs="String">
                <value>PLACE ID HERE</value>
            </setting>
            <setting name="TwitchToken" serializeAs="String">
                <value>PLACE TOKEN HERE</value>
            </setting>
            <setting name="DiscordMainServerLinkID" serializeAs="String">
                <value>PLACE ID HERE</value>
            </setting>
            <setting name="SpeedruncomToken" serializeAs="String">
                <value>PLACE TOKEN HERE</value>
            </setting>
            <setting name="GiveawayPrizeKey" serializeAs="String">
                <value>PLACE KEY HERE</value>
            </setting>
            <setting name="DiscordMainServerID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TwitterConsumerKey" serializeAs="String">
                <value>PLACE TOKEN HERE</value>
            </setting>
            <setting name="TwitterConsumerSecret" serializeAs="String">
                <value>PLACE TOKEN HERE</value>
            </setting>
            <setting name="TwitterAppToken" serializeAs="String">
                <value>PLACE TOKEN HERE</value>
            </setting>
            <setting name="TwitterAppTokenSecret" serializeAs="String">
                <value>PLACE TOKEN HERE</value>
            </setting>
        </NeKzBot.Server.Credentials>
        <NeKzBot.Server.Settings>
            <setting name="AppName" serializeAs="String">
                <value>NeKzBot</value>
            </setting>
            <setting name="AppVersion" serializeAs="String">
                <value>1.3</value>
            </setting>
            <setting name="AppUrl" serializeAs="String">
                <value>https://github.com/NeKzor/NeKzBot</value>
            </setting>
            <setting name="PrefixCmd" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="BotCmd" serializeAs="String">
                <value>bot</value>
            </setting>
            <setting name="AudioPath" serializeAs="String">
                <value>Resources/audio/</value>
            </setting>
            <setting name="GiveawayCode" serializeAs="String">
                <value>69</value>
            </setting>
            <setting name="DataPath" serializeAs="String">
                <value>Resources/vars/</value>
            </setting>
            <setting name="LeaderboardCmd" serializeAs="String">
                <value>lb</value>
            </setting>
            <setting name="ApplicationPath" serializeAs="String">
                <value>/home/pi/NeKzBot/</value>
            </setting>
            <setting name="NotificationChannelName" serializeAs="String">
                <value>notifications</value>
            </setting>
            <setting name="TwitchChannelName" serializeAs="String">
                <value>twitch</value>
            </setting>
            <setting name="DropboxFolderName" serializeAs="String">
                <value>/Demos/</value>
            </setting>
            <setting name="LogChannelName" serializeAs="String">
                <value>bot-logs</value>
            </setting>
        </NeKzBot.Server.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.6.0" newVersion="2.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <NeKzBot.Server.Settings>
      <setting name="UpdateChannelName" serializeAs="String">
        <value>updates</value>
      </setting>
      <setting name="RefreshTime" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="BoardParameter" serializeAs="String">
        <value>?wr=1</value>
      </setting>
      <setting name="AutoUpdate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GiveawayResetTime" serializeAs="String">
        <value>86400000</value>
      </setting>
      <setting name="GiveawayMaxTries" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="GiveawayEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CachingTime" serializeAs="String">
        <value>10</value>
      </setting>
    </NeKzBot.Server.Settings>
  </userSettings>
</configuration>
