<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NeKzBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NeKzBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <NeKzBot.Properties.Settings>
            <setting name="Token" serializeAs="String">
                <value>PLACE TOKEN HERE</value>
            </setting>
            <setting name="AppName" serializeAs="String">
                <value>NeKzBot</value>
            </setting>
            <setting name="AppVersion" serializeAs="String">
                <value>1.1</value>
            </setting>
            <setting name="AppUrl" serializeAs="String">
                <value>https://github.com/NeKzor/NeKzBot</value>
            </setting>
            <setting name="PrefixCmd" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="BotCmd" serializeAs="String">
                <value>bot</value>
            </setting>
            <setting name="AllowedRoles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Admin</string>
                        <string>Moderator</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AudioPath" serializeAs="String">
                <value>Resources/audio/</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>NeKz Server</value>
            </setting>
            <setting name="GiveawayPrize" serializeAs="String">
                <value>INSERT STEAM CODE HERE LOLOLOL</value>
            </setting>
            <setting name="GiveawayCode" serializeAs="String">
                <value>42</value>
            </setting>
            <setting name="MaseterAdminID" serializeAs="String">
                <value>84272932246810624</value>
            </setting>
            <setting name="DataPath" serializeAs="String">
                <value>Resources/vars/</value>
            </setting>
            <setting name="LeaderboardCmd" serializeAs="String">
                <value>lb</value>
            </setting>
            <setting name="ApplicationPath" serializeAs="String">
                <value>/home/pi/NeKzBot/</value>
            </setting>
            <setting name="SpeedruncomToken" serializeAs="String">
                <value>PLACE TOKEN HERE</value>
            </setting>
            <setting name="NotificationChannelName" serializeAs="String">
                <value>notifications</value>
            </setting>
            <setting name="TwitchChannelName" serializeAs="String">
                <value>twitch</value>
            </setting>
            <setting name="TwitchClientToken" serializeAs="String">
                <value>PLACE TOKEN HERE</value>
            </setting>
            <setting name="DropboxToken" serializeAs="String">
                <value>PLACE TOKEN HERE</value>
            </setting>
            <setting name="DropboxFolderLink" serializeAs="String">
                <value>PLACE LINK ID HERE</value>
            </setting>
            <setting name="DropboxFolderName" serializeAs="String">
                <value>/Demos/</value>
            </setting>
            <setting name="LogChannelName" serializeAs="String">
                <value>bot-logs</value>
            </setting>
            <setting name="ServerInviteID" serializeAs="String">
                <value>PLACE LINK ID HERE</value>
            </setting>
        </NeKzBot.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.6.0" newVersion="2.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <NeKzBot.Properties.Settings>
      <setting name="UpdateChannelName" serializeAs="String">
        <value>updates</value>
      </setting>
      <setting name="RefreshTime" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="BoardParameter" serializeAs="String">
        <value>?wr=1</value>
      </setting>
      <setting name="AutoUpdate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GiveawayResetTime" serializeAs="String">
        <value>86400000</value>
      </setting>
      <setting name="GiveawayMaxTries" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="GiveawayEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CachingTime" serializeAs="String">
        <value>10</value>
      </setting>
    </NeKzBot.Properties.Settings>
  </userSettings>
</configuration>
