<?xml version="1.0" encoding="utf-8"?>
<packages xmlns="wat">
  <package id="Discord.Net" version="0.9.6" targetFramework="net45" />
  <package id="Discord.Net.Audio" version="0.9.6" targetFramework="net45" />
  <package id="Discord.Net.Commands" version="0.9.6" targetFramework="net45" />
  <package id="Discord.Net.Modules" version="0.9.6" targetFramework="net45" />
  <package id="Dropbox.Api" version="4.1" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net452" />
  <package id="RestSharp" version="105.2.3" targetFramework="net45" />
  <package id="TweetMoaSharp" version="4.0.0" targetFramework="net45" />
  <package id="WebSocket4Net" version="0.14.1" targetFramework="net452" />
</packages>